## Use of cost function and gradient descent

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import math
from sklearn import linear_model

In [10]:
# include math scores and cs scores 
# find relationship between math and cs scores
df = pd.read_csv('test_scores.csv');

In [11]:
df.head(5)

     name  math  cs
0   david    92  98
1   laura    56  68
2  sanjay    88  81
3     wei    70  80
4    jeff    80  83